{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Forget Password{% endblock %}
{% block body %}
{#    <form role="form" action="{% url 'user:forget_password' %}" method="POST">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="submit"/>#}
{#    </form>#}
    <!--{% crispy form %}-->
    <div class="row pt30">
        <div class="col-md-6 col-md-offset-3  col-xs-6 col-xs-offset-3  col-sm-6 col-sm-offset-3">
            <div class="text-center mb20">

                {% if lang.code == 'zh-hans' %}
                    <h3 class="mb10">
                        忘记密码
                    </h3>
                    <p>
                        请输入你的注册邮箱，以便于我们可以发送给你链接让你重置密码
                    </p>
                {% else %}
                    <h3 class="mb10">
                        Forget Password
                    </h3>
                    <p>
                        Please enter your email and we will send you a link by which you can reset your password
                    </p>
                {% endif %}

            </div>
            {% crispy form %}

        </div>
    </div>

<script>
    var checkobj={mail:"email",password:"captcha_1"}

    XformCheck(document.getElementsByClassName("form-horizontal")[0],checkobj);
    $(".form-horizontal").submit(function(){
        var r  = true;
        $("input[checkVal]").each(function(){
            r = r && $(this).attr("checkVal");
        });

        if(r=="false"){
            console.log(r);
            return false;
        }
    });
</script>
{% endblock %}<!DOCTYPE html>
