{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}
{% block body %}

<div class="row pt30">
    <div class="col-md-6 col-md-offset-3  col-xs-6 col-xs-offset-3  col-sm-6 col-sm-offset-3">

        {% if lang.code == 'zh-hans' %}
            <h3 class="mb10 text-center">重置密码</h3>
        {% else %}
            <h3 class="mb10 text-center">Reset Password</h3>
        {% endif %}

        {% crispy form %}

    </div>
</div>

<script>
    var checkobj={password_confirm:"password_confirm",password:"password"}

    XformCheck(document.getElementsByClassName("form-horizontal")[0],checkobj);
    $(".form-horizontal").submit(function(){

        var r  = true;
        $("input[checkVal]").each(function(){
            r = r && $(this).attr("checkVal");
        });
        if(r=="false"){
            console.log(r);
            return false;
        }
    });
</script>

{% endblock %}
